.Site {
  min-height: 100vh;
}

.Site-content {
  flex: 1;
}

.Nav-logo {
  width: 100px;
  height: 31px;
  margin: 16px 40px 16px 0;
  float: left;
}

.Nav-icon {
  font-size: 30px;
  margin: 16px 8px 16px 8px;
}
