.site {
  min-height: 100vh;
}

.site-content {
  flex: 1;
}

.nav-icon {
  padding: 0 !important;
  margin: 0;
  font-size: 25px !important;
  color: white;
}

.discord-icon {
  margin-top: 1px;
}

.sidebar-label {
  transform: translate(0, -3px);
}

.fixed-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.wrapper {
  flex: 1 0 auto;
}

.lh-0 {
  line-height: 0;
}
