.Site {
  min-height: 100vh;
}

.Site-content {
  flex: 1;
}

.Nav-logo {
  width: 100px;
  height: 31px;
  margin: 16px 20px 16px -30px;
  float: left;
}

.Nav-Icon {
  padding: 0 !important;
  margin: 0;
  font-size: 30px;
  color: white;
}

.Discord-Icon {
  margin-top: 1px;
}

.Banner {
  width: 100%;
  height: 450px;
  background: url("/clubphoto.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;
}

.Banner-Overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.Banner-Text-Box {
  padding: 350px 0px 0px 50px;
}

.Banner-Text {
  display: inline-block;
  margin: -5px;
  padding: 0px 10px 3px 10px;
  font-family: Verdana;
  font-size: 30px;
  font-weight: normal;
  background-color: gainsboro;
}

.Navbar-Link:hover {
  text-decoration: none !important;
}
